[2018-08-31 21:34] sabid opened #4 "If the image is very high, it does not allow to close the modal"
![screen shot 2018-08-31 at 3 30 13 pm](https://user-images.githubusercontent.com/3129855/44936767-3f325280-ad33-11e8-9ade-a46ee4902d21.png)

[2018-08-31 21:55] Krato commented on #4
Yes. Thanks for your issue. Can you create a fix. If not, I will fix this weekend.

Thanks!

[2018-09-04 07:38] InfinetyES commented on #4
Fixed! https://github.com/InfinetyES/Nova-Filemanager/pull/5

[2018-09-04 07:38] #4 closed

[2018-09-04 13:24] macolson opened #6 "Laravel FLYSYSTEM - AWS S3 support"
We tried to use this file manager package together with AWS S3 but it is not working caused by errors by AWS s3 directory attributes / structure differences.

Is it planned to update the package to support AWS S3 in the near future?

[2018-09-04 18:46] InfinetyES commented on #6
Yes. It's planned. I wil update this issue when released.

Regards

[2018-09-08 22:27] GGH-Koch opened #7 "Slash missing in image details URL field"
When opening the image details layer, the URL field is missing a slash after the protocol.

Additionally, it should be noted that using the APP_URL var could lead to problems (I have encountered quite a few projects where this isnt set). Auto detecting or using the native laravel functions for the hostname is probalby better.

[2018-09-08 22:29] GGH-Koch opened #8 "JS Object when hovering over uploaded image"
When mouse hovering over a just uploaded image, the red tooltip just displays `[object Object]`.

[2018-09-08 22:41] GGH-Koch opened #9 "Image in edit view not visible & labels being overriden"
The saved image is not rendered in edit view.

Also the field label is being overriden in both detail and edit views with the image filename.

[2018-09-08 23:33] Naxon opened #10 "Translations support"
Hi!

This tool looks awesome!

If it's possible, it would be very nice if all the hard-coded text would be translatable (lang files / json translations).

[2018-09-11 08:48] mdixon18 opened #11 "Select multiple images"
Say you have a slider and you need the ability to add multiple images, is there a way to do this currently? Or make it repeatable?

[2018-09-12 09:35] Krato commented on #8
The upload is being rewritten. This will be fixed.

[2018-09-12 09:35] Krato commented on #9
Can you give us more details. Images included if its possible. Thanks

[2018-09-12 09:38] Krato commented on #11
This should be another field yes? This is only a filemanager.

Maybe you can use these packages:

https://novapackages.com/packages/64robots/nova-row
https://novapackages.com/packages/fourstacks/nova-repeatable-fields

Regards

[2018-09-12 09:38] #11 closed

[2018-09-13 13:53] mdixon18 commented on #11
Yeah this is great thanks.

[2018-09-13 13:54] mdixon18 opened #12 "Label is replaced with filename when editing"
When editing a resource that has a file selected instead of saying 'Thumbnail' or say 'Image' you get the file name and extension instead.

[2018-09-14 20:34] Krato commented on #12
Yes. Thanks for the info. Will be fixed in the next release ;D

[2018-09-19 11:29] sikrew opened #13 "UTF-8 characters"
Hello :)

I was trying this package out and I noticed that if I use any of the accentued characters from UTF-8 the files do not render correctly on the Filemanager view but are uploaded correctly.

Here's an example:
File: **chouriço.jpg**

File uploads fine, but when the view is updated, a 404 gets thrown.
`GET http://localhost/storage/chouri%C3%A7o.png 404 (Not Found)`

All these characters beha

[2018-09-19 12:30] Krato commented on #13
Hi. Thanks for your issue. This will be fixed in the new release.

The upload method has been rewrited and now no more Dropzone dependency. Now it will work with drag&drop on the file manager. Also all file names will be sanitized before upload.

Expected to be released this week.

[2018-09-21 14:07] Krato commented on #6
Please update to version 1.1.0, and check it.

[2018-09-21 14:07] Krato commented on #7
Please update to version 1.1.0, and check it.

[2018-09-21 14:08] Krato commented on #8
Upload has been rewritten in new version. Please update to version 1.1.0, and check it.

[2018-09-21 14:08] Krato commented on #9
Close due inactivity

[2018-09-21 14:08] #9 closed

[2018-09-21 14:08] Krato commented on #10
Translations added. More info in the readme. Update to 1.1.0 version. Regards.

[2018-09-21 14:08] #10 closed

[2018-09-21 14:09] #12 closed

[2018-09-21 14:09] Krato commented on #13
New version released. Please update to version 1.1.0, and check it.

[2018-09-23 21:32] dillingham opened #15 "Files by resource component"
Having an instance of the file manager viewable on a resource, like a relationship, but only of that type.

In Nova\Post > fields > FileManager::make('Posts')

Would display a full width section on detail like a HasMany

But would only be files related to posts

[2018-09-23 21:34] #15 closed

[2018-09-24 06:45] macolson commented on #6
Just had a quick test using S3, looking great. Thank you for making such a great Nova tool.

[2018-09-24 06:45] #6 closed

[2018-09-27 11:00] bcoelhonqda opened #16 "Can't remove the image from field"
After insert an image, i can't remove from field.
The only option i have is delete the image from FileManager.

Screenshots:
http://www.clipular.com/posts/5827487813337088?k=5_5YKF7MDfGD8bPy1-mHvyL3J8M
http://www.clipular.com/posts/4505571471130624?k=5IAZpB8P9O9fv6K1lrz_aL7Ebs0

[2018-09-27 11:14] Krato commented on #16
Yes not yet. You can remove it from the tools instead.

Maybe in the next release.

Thanks!

[2018-10-04 17:33] tjmckenzie opened #18 "S3 Filesystem cache"
When enabling the cache directive of the s3 filesystem config, as described [here](https://laravel.com/docs/5.6/filesystem#caching), File Manager does not properly load.

`GET .../nova-vendor/infinety-es/nova-filemanager/data?folder=%2F 500 (Internal Server Error)`
`Call to undefined method League\Flysystem\Cached\CachedAdapter::getPathPrefix()`

[2018-10-05 19:12] JILeXanDR opened #19 "Bad thumb path"
Should add documentation for this config https://github.com/InfinetyES/Nova-Filemanager/blob/e0c8bb7745422bcf837769ce92ede45c4e6226a4/src/Http/Services/GetFiles.php#L374-L381
because it returns false and makes bad link

[2018-10-07 07:47] Krato commented on #18
@tjmckenzie Thanks for your issue. I will check it

[2018-10-07 07:47] Krato commented on #19
Thanks @JILeXanDR. Let me check it. Regards!

[2018-10-07 13:15] JILeXanDR opened #21 "Add posibility to set default folder"
Usage example:

    public function fields(Request $request)
    {
        return [
            ID::make()->sortable(),
            FilemanagerField::make('Avatar', 'avatar_path')->folder('avatars'),
        ];
    }

It makes find images easier.

[2018-10-07 18:45] Krato commented on #21
Thats a good idea. Maybe in the next release.

[2018-10-08 21:20] ibrunotome opened #23 "Integration with Google Cloud Storage"
Hi, can you provide integration with google cloud storege?

[2018-10-09 06:09] JILeXanDR commented on #23
If write own disk for GCS implementation, it should work, no?
Plugin provides `FILEMANAGER_DISK`

Or simple use https://github.com/Superbalist/laravel-google-cloud-storage

[2018-10-09 06:55] Krato commented on #18
@tjmckenzie It seems a problem with Flysystem Cache adapter. But is working following next guide. Can you try it? https://medium.com/@poweredlocal/caching-s3-metadata-requests-in-laravel-bb2b651f18f3

Regards

[2018-10-09 08:31] Krato commented on #16
@bcoelhonqda try the new v1.1.1 release.
Regards

[2018-10-09 08:31] #16 closed

[2018-10-09 08:36] Krato commented on #21
@JILeXanDR CHeck the new v1.1.1 release. Folder option is done

[2018-10-09 08:36] #21 closed

[2018-10-09 08:37] Krato commented on #19
@JILeXanDR Changed in the last release. This config is not used anymore.

[2018-10-09 08:38] Krato commented on #23
@ibrunotome It should work in v1.1.1 release. Just call your storage filesystem as `google`. Regards. Re open this issue if not working.

Regards.

[2018-10-09 13:14] ibrunotome commented on #23
@Krato, I was using ```gcs``` as the name of filesystem, changed to google and the error continue the same as before (and it works fine to upload content from my application forms).

<img width="476" alt="screenshot 2018-10-09 10 07 11" src="https://user-images.githubusercontent.com/4256471/46671614-9ab1f480-cbab-11e8-85dc-9f456222590e.png">

Below is the stacktrace

[code]

[2018-10-09 17:39] JILeXanDR commented on #19
@Krato The bug is remained =(

I have disk called `img`:
[code]

[code]

The full link should be `http://admin.host.local/assets/img/avatars/1.jpg`
but ajax `/data?folder=avatars` generates another with `storage`:
`http://admin.host.local/storage/1.jpg`

The problem is in https://github.com/InfinetyES/Nova-Filemanager/blob/856b24dc5d512d0a22b9bbedc3d37a6d51ac1183/src/Http/Services/GetFiles.php#L21

[2018-10-10 10:40] Krato commented on #23
@ibrunotome I just send a private message. Please answer me. Regards.

[2018-10-10 10:52] ibrunotome commented on #23
I didn't received.

[2018-10-10 12:28] ibrunotome commented on #23
And I didn't received.

[2018-10-10 13:52] tjmckenzie commented on #18
After a quick attempt late last night, I wans't able to get this method working either. Laravel docs seem to be lacking on cache implementation for filesystem. I'll do some source diving this evening and give it another try.

[2018-10-12 06:36] JILeXanDR opened #25 "Bad image link"
https://github.com/InfinetyES/Nova-Filemanager/issues/19

[2018-10-15 07:05] Krato commented on #19
Ok. I will take a look. Thanks

[2018-10-15 07:05] #25 closed

[2018-10-15 07:06] Krato commented on #23
@ibrunotome Can you send me an email to eric@infinety.es? Thanks

[2018-10-15 07:07] Krato commented on #18
@tjmckenzie I was able to work with the link above from medium. Have you tried that?

[2018-10-15 20:45] christopherarter opened #26 "Specify visibility?"
Hi there,

Great package!

Question: Is there a way to specify the visibility when saving a file? e.g.
`Storage::put('file.jpg', $contents, 'public');`

I notice it looks like it's defaulted to public here:
[https://github.com/InfinetyES/Nova-Filemanager/blob/f7176a2e6f2148d174533dc91f3bbc4551db23e5/src/Http/Services/FileManagerService.php#L222](https://github.com/InfinetyES/Nova-Filemanager/blob/

[2018-10-19 19:13] tjmckenzie commented on #18
I have tried that, but was unable to get it working. Can you provide a gist of how you had it set up?

It seems if I set the s3->driver setting to `s3-cached` service provider, with or without adding the ` cache directive` to the s3 config as described in the laravel docs, I still get the same error.

However, without enabling the cache, the nova media manager seems to load much after after the in

[2018-11-22 13:33] tanthammar opened #28 "Access control, "Home""
Is there a way to disable the "Home" link in the field modal or,
can I dynamically set the home path to equal the $folder parameter?

My app creates a storage folder per "team", inside the File Manager Disk path.
I would like to set this folder as Storage::disk() so it becomes the "home" path for that user.
As it is now, I can set the initial view to the teams storage path, but the "Home" link giv

[2018-11-23 14:38] UdyW opened #29 "max video size config"
Hi,
How can I set the max video size? I need to upload videos up to 120Mb. Is this possible?

[2018-11-27 12:56] lwiml commented on #26
Do you have any solution yet, or workaround?

[2018-11-27 12:57] lwiml commented on #26
Do you have any solution yet, or workaround?

[2018-11-27 13:20] christopherarter commented on #26
@lwiml Not quite, I ended up having to edit that method, setting the default to private. Then, if I wanted to show a file publicly I used [signed Urls](https://laravel.com/docs/5.7/urls#signed-urls) to authorize the file to be accessed.

[2018-11-28 13:51] lwiml commented on #26
@christopherarter thanks, but ofcourse it's not ideal.

[2018-12-10 08:33] Krato commented on #28
Hi @tanthammar. Will work in that issue. Thanks

[2018-12-10 08:34] Krato commented on #26
Hi @christopherarter. Not yet. May be in the future

[2018-12-10 08:36] Krato commented on #29
You need to change it in your php.ini

[2018-12-10 08:36] #29 closed

[2018-12-10 08:37] #18 closed

[2018-12-13 19:58] ianmcqueen commented on #19
@Krato I am also experiencing this bug (broken thumbnail) for the following file system configuration:

`
// config/filesystems.php
        'uploads' => [
            'driver' => 'local',
            'root' => public_path('uploads'),
            'url' => env('APP_URL').'/uploads',
            'visibility' => 'public',
        ],
`

The thumbnail URL is displaying as `style="background-image: url("

[2019-01-04 09:22] mustafakhaleddev opened #31 "dose this package support Atomic Panel"
Hello , some developers asked me if this package can work in my package (atomic panel ) here
https://github.com/mustafakhaleddev/laravel-atomic
its possible to make new package with the same features for it ?

[2019-01-06 10:04] FaridAghili opened #32 "Show/Hide FileManager based on User role"
Does this package support user role/permission?
For example, only users with admin role should have access to this.

[2019-01-06 10:09] FaridAghili commented on #32
Anyone looking at this, here is the way:
https://nova.laravel.com/docs/1.0/customization/tools.html#authorization

[2019-01-06 10:09] #32 closed

[2019-01-07 10:51] Krato commented on #31
Sorry, it's developed for Laravel Nova. But of course, you can develop it to Laravel Atomic

[2019-01-07 10:51] #31 closed

[2019-01-10 22:42] 949mac opened #33 "Is it possible to restrict the returned list of files based on $user->id?"
I only want my users to access the files they upload. Is this possible?

[2019-01-18 20:57] JoshuaBedford commented on #33
This would be a very useful feature! That as well as an admin being able to choose who has access to what files.

[2019-01-24 12:23] ddedic opened #34 "Search inside Filemanager"
It would be useful if there is search functionality inside Filemanager.
Sometimes you upload files you want to re-use later, and can´t remember where it is.

[2019-02-02 11:48] wa7eedem commented on #33
it's will be nice if I can set the ID : `$user->id` OR `$company->id` !!

[2019-02-06 06:44] encomienda opened #35 "Thumbnail pointing to local disk even using digital ocean"
The uploading and listing all fine but the thumbnail on the file manager seems pointing the local disk

![image](https://user-images.githubusercontent.com/26597108/52324822-bde79600-2a1d-11e9-9fca-20d94fd1548c.png)

![image](https://user-images.githubusercontent.com/26597108/52325316-8aa60680-2a1f-11e9-9f4b-966161dd2d8c.png)

[2019-02-06 06:57] encomienda commented on #35
![image](https://user-images.githubusercontent.com/26597108/52325308-8548bc00-2a1f-11e9-8a31-1a9f6e007e0c.png)

[2019-03-09 13:59] jangidgirish opened #36 "folder open stuck on 1600 icons"
I have icon folder around 1600 small png icon, but the page has stuck in open folder,
![image](https://user-images.githubusercontent.com/4018017/54072485-613bfd00-42a1-11e9-9c11-b31b55b1b89d.png)
I think, 1600 icons can display on page, can i do work around to fix this issue?

[2019-03-09 18:54] Krato commented on #36
Hello @jangidgirish. I test it with more than 2700 icons and no problem. Can you give me more info? Thanks

[2019-03-11 09:59] Krato commented on #19
Hello @JILeXanDR and @ianmcqueen. Please, update to v2. Should be fixed. Regards.

[2019-03-11 09:59] #19 closed

[2019-03-11 09:59] Krato commented on #23
Hello @ibrunotome. I tried and is working with v2. Please update.

[2019-03-11 09:59] #23 closed

[2019-03-11 10:00] Krato commented on #26
Hello @christopherarter. You can set he visibility now with v2. Please check the readme. Regards

[2019-03-11 10:00] #26 closed

[2019-03-11 10:01] Krato commented on #28
Hello @tanthammar. Now works like should work. When you set the folder, this folder will be the home.
Check version 2.

Regards.

[2019-03-11 10:01] #28 closed

[2019-03-11 10:03] Krato commented on #34
Is now possible with v2. Please, update the tool.

[2019-03-11 10:03] #34 closed

[2019-03-11 10:03] Krato commented on #35
@encomienda is now fixed. Please update to v2. Regards

[2019-03-11 10:03] #35 closed

[2019-03-11 10:04] Krato commented on #33
Isn't planned for now. Maybe in the future, but we not thinking in that.

[2019-03-11 10:04] #33 closed

[2019-03-12 13:11] markwalet opened #38 "Make translations publishable"
To make the package look more like Laravel Nova, I want to propose the following changes.

- Add a `resources/lang/en.json` file with all translation keys that are used. (The one in the readme are out of date)
- Load them and make them publishable via the service provider.
- Remove the translation keys from the readme.
- Add a tutorial on how to publish the translation files.

I already started wo

[2019-03-17 12:40] sharmaanil8866 opened #40 "Add custome css"
hello

FilemanagerField::make('logo')
                ->displayAsImage()->folder('vendor_logo/'.date('Y_m_d'))
            ])

i have use this for show image but i add my custome class ??

[2019-03-17 12:42] sharmaanil8866 commented on #40
hello

FilemanagerField::make('logo')
                ->displayAsImage()->folder('vendor_logo/'.date('Y_m_d'))
            ])

i have use this for show image but i add my custome class ??

[2019-03-17 17:28] Krato commented on #40
What do you mean?

[2019-03-19 09:35] #38 closed

[2019-03-19 09:48] Krato commented on #38
Hello @markwalet. I just revert your pull request. For now is not able to load translations into nova: https://github.com/laravel/nova-issues/issues/982

[2019-03-20 15:31] #40 closed

[2019-03-22 18:24] sdmpxs commented on #36
I've got a directory of nearly 8,000 images that is very slow to respond when viewing. Is there a way to add some pagination or similar to help speed it along? Any other ideas welcome as the package is working perfectly other than this system issue.

[2019-03-22 23:51] fedeisas opened #44 "Filenames"
Is there any way to customize filenames?

I see `FileManagerService::checkFileExists` takes care of that, but is there any easy way to override this?

Maybe we can set a callback in the Tool itself.

[2019-03-23 12:53] Krato commented on #36
Hello! We are opened to every contribution. So if you want to make a pull request you can do it. Thanks ☺️

[2019-03-23 12:54] Krato commented on #44
In the last version you can rename your files. Is what you want?

[2019-03-23 15:41] fedeisas commented on #44
No, I mean before uploading, instead of using the original file name. My goal is to have lowercase file names, but I can imagine the user where you’d want to remove file names and use hashes.

[2019-03-23 16:27] Krato commented on #44
Ahh Ok. Let me check it next week. Good idea 👌🏽

[2019-03-23 16:28] fedeisas commented on #44
I’m more than happy to submit a PR if you give some hints on how you’d like to do it.

[2019-03-23 16:38] Krato commented on #44
That's will be great. You can create an interface and a class with a funcion that recieves the name and returns a string.

Then an option in the config file to use that class.

Something like: https://docs.spatie.be/laravel-backup/v6/monitoring-the-health-of-all-backups/creating-your-custom-health-check

Let me know if you understand.

[2019-03-24 09:01] Krato commented on #44
@fedeisas Works perfect. Thanks for make this package greater. 👍 😃

[2019-03-24 09:01] #44 closed

[2019-03-26 15:39] estaticfear opened #46 "Integration with editor"
Please show me how to integration file manager with some popular wysiwyg editor, like tinymce or ckeditor. It's will be perfect !!!

[2019-03-27 07:33] Krato commented on #46
Hello @estaticfear. This is a Laravel Nova tool.

You can check https://github.com/Krato/Laravel-5-File-Manager if you want to add a Filemanager to a wysiwyg.

Regards!

[2019-03-27 07:33] #46 closed

[2019-04-01 05:28] jafar690 opened #47 "file manager page is blank"
![Screenshot from 2019-04-01 08-25-52](https://user-images.githubusercontent.com/17546030/55305197-f8871100-5457-11e9-89d6-bdb8ece66219.png)

when i visit the file manager page, i get a blank page with the above error in the console

[2019-04-01 06:36] Krato commented on #47
Hello @jafar690. Have you followed all the steps of the installation?

[2019-04-01 06:54] jafar690 commented on #47
@jafar690 Hello? yes i did, but its still not working, am using nova v 1.3.0

[2019-04-01 08:23] Krato commented on #47
Hello @jafar690. Just tried with an empty installation with Laravel 5.7 and Nova v1.3.0. And no errors. Please check your installation.

[2019-04-01 08:24] jafar690 commented on #47
@Krato am using Laravel Framework 5.6.39

[2019-04-01 08:37] Krato commented on #47
Should be the same. Sorry, try to activate Vue DevTools and check the error. Sorry, isn't possible without more details of the error.

Thanks

[2019-04-01 10:21] #47 closed

[2019-04-11 14:33] MannikJ opened #50 "Allow Multiple Disks"
The title says it all. I think it would make sense to enable multiple disks. Maybe add a dropdown to choose which disk you want to use.

[2019-05-03 07:41] Krato commented on #50
Yeah. Maybe in the future

[2019-06-03 09:56] jphms opened #56 "Post Processing"
Hey there, I just went through the documentation twice and couldn't find any mention of it.
How does one hook into the saving method to perform some operations on the uploaded files, after they have been uploaded? Say to generate thumbnails or responsive image sizes.

[2019-06-16 10:26] Krato commented on #56
That’s a good question. We’ll think about it 👌

[2019-06-20 15:00] firescript opened #58 "S3 Issue"
Currently getting this issue, have you seen this before? It only shows on child folders, root uploading works fine.

[code]

[2019-06-27 13:00] marcreichel opened #59 "File cannot be uploaded when navigated back to root directory"
When I navigate back to the root directory (in the tool) I cannot upload new files to the root directory as it says `Argument 1 passed to Infinety\Filemanager\Http\Services\DefaultNamingStrategy::name() must be of the type string, null given` in the logs. I assume it comes with the "?path=" in the url?

[2019-07-05 06:54] Dontorpedo opened #61 "easy downloading"
Very nice tool, but i would be nicer if the files where also downloadable in an easy way.. maybe just  an download link in the popup or shortcut symbols for download/delete in the files list view :)

[2019-07-11 13:36] marcreichel opened #62 "Error reading the folder. Please check your logs"
When opening either the tool or the field modal I always get the above error. But there's nothing written to my logs. What causes this error? I didn't change the access rights.
And a few days ago it worked like a charm. But not anymore.
I would really like to provide more information. But that's all I got 😄

[2019-07-11 13:46] marcreichel opened #63 "Possibility to change URL of tool"
It would be nice to be able to customize the URL of the Tool to something different than "nova-filemanager" ✌️

[2019-07-12 03:17] htownson commented on #62
I had this issue as well after upgrading to Laravel 5.8 & Nova 2.

Nova now has a config file. If you haven't got it already, publish it with
`php artisan vendor:publish --tag=filemanager-config`

This fixed it for me.

[2019-07-12 03:29] htownson commented on #58
I am also experiencing this issue.

[2019-07-12 07:25] marcreichel commented on #62
Hm. Well, I've started the project with Laravel 5.8 & Nova 2 and also already published the config file. So that didn't fixed it for me 😅

[2019-07-12 17:52] Krato commented on #63
Hello @marcreichel. Thanks for the suggestion but we’re not thinking to change for now.

Regards.

[2019-07-12 17:52] #63 closed

[2019-07-12 17:53] Krato commented on #62
Please, can you check the console errors in Development tools? Thanks

[2019-07-12 17:56] Krato commented on #58
Hello @firescript. Maybe is a AWS api error. Any backtrace? Thanks

[2019-07-17 06:45] htownson commented on #58
Here is the backtrace.

`{
    "message": "Found 1 error while validating the input provided for the GetObject operation:\n[Key] expected string length to be >= 1, but found string length of 0",
    "exception": "InvalidArgumentException",
    "file": "/PROJECT_ROOT/vendor/aws/aws-sdk-php/src/Api/Validator.php",
    "line": 65,
    "trace": [
        {
            "file": "/PROJECT_ROOT/vendor/aws

[2019-07-17 07:26] htownson commented on #58
Okay so I got it working. Although I'm not sure this would fix it for others.

Previously before I updated to nova 2 and from Laravel 5.7 -> 5.8 I didn't have the 'url' set for my S3 filesystem in the config/filesystems.php. (It wasn't previously needed - I assume it was only needed for buckets with a custom url)

's3' => [
            'driver' => 's3',
            'key' => env('AWS_ACCESS_KEY_ID'

[2019-07-17 08:42] marcreichel commented on #62
Well. Fixed it myself. I've overwritten the `nova-vendor`-route by mistake with a custom wildcard-route. Therefore a 404 error was thrown in the dev tools.
Fixed it by providing the following code in the `boot()`-method of my `RouteServiceProviders`:
[code]

I think nova should register its routes before anything else and not after the custom routes to prevent collisions like this 🤷‍♂ But that's a

[2019-07-17 08:42] #62 closed

[2019-07-17 09:59] marcreichel opened #64 "Case Insensitive Filters?"
Could you please make the extension filters case insensitive? Just uploaded a JPG-Image with ".JPG" extension instead of ".jpg" and it doesn't show up in my file selector with 'Images'-filter.
Of course I could add all the uppercase extensions to the array myself. But it would be easier to allow case insensitive file extensions out of the box I think.
I think there shouldn't be any side effects.

[2019-07-17 18:10] Dontorpedo opened #65 "Add posibility to exclude Folders"
exclude folders or hide folders in an directory.. is this possible right now?

[2019-07-17 19:11] firescript commented on #58
That was the issue for me as well @htownson thanks so much!

[2019-07-19 08:46] Krato commented on #64
Yes. Next version will include that feature.

Thanks for ket us know! ;)

[2019-07-19 08:46] #64 closed

[2019-07-19 09:41] Krato commented on #65
In the next version you will be able creating `.hide` file to exclude folders.

Regards

[2019-07-24 10:50] #58 closed

[2019-07-24 11:17] Krato commented on #65
@Dontorpedo please update to the new version :blush:

[2019-07-24 11:17] #65 closed

[2019-07-24 11:18] Krato commented on #59
@marcreichel Please check new version :blush:

[2019-07-24 11:18] Krato commented on #56
@jphms Please check new version. You can add now jobs after upload files.

[2019-07-24 11:18] #56 closed

[2019-07-24 11:21] Krato commented on #61
@Dontorpedo you have a link input in the preview modal. You can use it to download the files. But we're opened to contributions.

[2019-07-29 17:26] ahmedkandel opened #68 "Upload via button is broken"
Hello,

After last release 2.3 the upload via button is broken, due to adding new methods to upload folders by drag and drop. So the old method used to upload via button is not working,

The console shows the following error message:
[code]

[2019-07-30 13:19] ahmedkandel opened #70 "Breadcrumb on windows filesystem"
Hello,

When using the Filemanager on windows machine/hosting, The breadcrumb paths are absolute due to the different directory separator:

![Screenshot_2](https://user-images.githubusercontent.com/28398523/62132419-5714ac80-b2dd-11e9-8f21-3bd6a8bae0de.png)

Thanks.

[2019-07-30 20:01] adrienne commented on #50
Yeah, I really need this feature too!

[2019-08-01 19:13] LedzZm commented on #68
I am also facing this issue. It would be nice if the referenced commit was merged.

Best Regards.

[2019-08-04 06:59] nikhilbaby2000 opened #71 "[Feature Request] Ability to access Multiple Disks."
In my project, I store few images/files in one disk (public) and some in another disk (s3).

It would be a nice feature to switch between the disks in the Nova Panel.
So, in `config/filemanager.php` we can have something like:

`
    'allowed_disks'      => [ 'public', 's3' ],
`

And then in Nova panel you can switch between them.

Great package :+1:

[2019-08-04 07:00] nikhilbaby2000 commented on #71
My bad, didn't see #50  .
Closing this.

[2019-08-04 07:00] #71 closed

[2019-08-11 08:39] SadeghPM commented on #68
Same issue

[2019-08-13 08:55] Fabio1988 commented on #68
same issue

[2019-08-13 09:51] ilikourou commented on #68
Same here.

[2019-08-15 18:47] alejandrosanchez18 commented on #68
same

[2019-08-16 03:38] phuclh opened #72 "How to validate file type of the field?"
How can I validate the file type when a user upload a file?

Right now, I only see filter to limit file display in filemanager but it still allows user upload all file types.

Thank you for this great package.

[2019-08-16 07:25] marcreichel commented on #68
Same here. But uploading via drag & drop doesn't work for me either.

[2019-08-16 23:37] phuclh opened #73 "Cannot select file when using on action field."
When I using the field on action fields, something like that:
[code]
If you click to the file to select it, that will hide the action modal and doesn't fill the file name to the input value.

[2019-08-19 14:35] sergey89d opened #74 "How to make pagination?"
She is sorely missed

[2019-08-20 07:08] #68 closed

[2019-08-20 07:10] Krato commented on #74
No pagination for now #36

[2019-08-20 07:11] Krato commented on #70
Merged!

[2019-08-20 07:11] #70 closed

[2019-08-20 07:12] Krato commented on #68
Just merged the PR. Please check!

[2019-08-20 07:20] Krato commented on #73
Hello @phuclh.  Are you using last version? I can't reproduce the error.

[2019-08-20 07:21] Krato commented on #72
Good question @phuclh. We'll work on that. Thanks!

[2019-08-20 22:55] phuclh commented on #73
@Krato I am using 2.3. I just create a new action and put `FilemanagerField` into the field array, then run that action and select a file, but the modal will be closed.

[2019-08-21 09:16] Krato commented on #73
@phuclh Can you paste here your action? Thanks!

[2019-09-05 06:48] devfaysal opened #75 "Error after upgrading to Laravel 6"
[2019-09-05 06:29:34] local.ERROR: Call to undefined function Infinety\Filemanager\Http\Services\starts_with() {"userId":1,"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to undefined function Infinety\\Filemanager\\Http\\Services\\starts_with() at /var/www/html/laravel/faysal.me/vendor/infinety-es/nova-filemanager/src/Http/Services/GetFiles.php:420)

[2019-09-07 20:28] DerekBuntin commented on #75
Surely it would be best to upgrade to the included methods rather than needing to install an additional package just to provide backwards compatibility?

The method should be changed to use Str::startsWith()

https://laravel.com/docs/6.0/helpers#method-starts-with

[2019-09-08 03:36] devfaysal commented on #75
Thanks. Good Thinking. I will try to update the helper functions to be compatible with Laravel 6 according to the docs.

[2019-09-09 15:54] KnowledgeWanderer opened #78 "Error reading the folder. Please check your logs."
I looked at the other issue with the same title, nothing there solved it. Did the symlinks,  I can't see any reasons.

Where can I find the logs?

[2019-09-09 16:10] KnowledgeWanderer commented on #78
[2019-09-09 16:07:41] local.ERROR: Call to undefined function Infinety\Filemanager\Http\Services\starts_with() {"userId":1,"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to undefined function Infinety\\Filemanager\\Http\\Services\\starts_with() at /home/devappxz/subdomains/personal-broker.dev-app.xyz/vendor/infinety-es/nova-filemanager/src/Http/Serv

[2019-09-09 16:14] KnowledgeWanderer commented on #78
seems like Laravel6 got new updates on the Str functions

[2019-09-09 16:15] KnowledgeWanderer commented on #75
so how should one update the helpers? I am working on Laravel6 and I get the same error, shouldn't InfinetyEs update the package? @devfaysal  @DerekBuntin Help

[2019-09-09 16:25] devfaysal commented on #75
To fix this error, there is pull request made https://github.com/InfinetyEs/Nova-Filemanager/pull/77
The package author need to merge it, then you can update this package to resolve the error.

There is temporary fix for you: Just install the laravel helper package.
`composer require laravel/helpers`

This will fix the error right away.

[2019-09-09 16:26] Krato commented on #75
I'll merge tomorrow ☺️👍🏽

[2019-09-09 18:11] KnowledgeWanderer commented on #75
great job! much love!

[2019-09-09 18:42] #78 closed

[2019-09-09 19:13] DerekBuntin commented on #75
@devfaysal you would be quicker to update the package with the reference to the new Laravel helpers rather than adding this package, it took me 5 minutes to get the system working perfectly with Laravel 6 doing a search and replace, maybe I should do a pull request to help?

[2019-09-10 06:39] Krato commented on #75
Nova Filemanager is ready now for Laravel 6. Update to v2.3.2. Check it https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.3.2

[2019-09-10 06:39] #75 closed

[2019-09-12 17:01] alejandrosanchez18 opened #79 "Restricr folder on FileManager Tool"
Is it possible to restrict folder? This is possible on the filemanager field but I need to do this on the filemanager tool. Each user have your personal folder

[2019-09-20 06:05] Lothindir opened #80 "Cannot access Events fields"
When firing events, the listener cannot access the events fields (ie 'path'). In the docs it's specified how to do it bur the events's fields are protected.

Am I missing the point ? Or is it an issue ?

[FileRemoved](https://github.com/InfinetyEs/Nova-Filemanager/blob/master/src/Events/FileRemoved.php)
[FileUploaded](https://github.com/InfinetyEs/Nova-Filemanager/blob/master/src/Events/FileUpload

[2019-09-22 11:12] Krato commented on #80
Yes! Sorry. I will update soon 😪

[2019-09-22 11:13] #74 closed

[2019-09-22 11:21] Krato commented on #79
You can use a feature added in the last update (no in docs yet)

[2019-09-25 19:21] FutureFutureTo opened #81 "Styling Bug On CodeMirror"
Thanks for the great package!

Looks like the the codemirror theme being pulled into one of your vue templates has a height: 400px !important on it.

This overrides the Code field on Nova.

My fix was to add a custom css in the NovaServiceProvider in case anyone is wondering.

[2019-10-04 10:06] sakibwebworm commented on #23
Hi, I am having following errors while trying to view file from the server. Access to XMLHttpRequest at 'https://storage.googleapis.com/xxxxxxxxx' from origin 'https://xxx.xxx.xxx' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-10-09 06:39] soliduskodas opened #82 "No modals showing"
Hello,

"Create Folder" does not work. Nothing happen after click on this button. Same with file deleting. How to fix this?

![delete](https://user-images.githubusercontent.com/26401925/66457260-a9f6a700-ea78-11e9-8903-6ccfb4a4720a.png)

![create_folder issue](https://user-images.githubusercontent.com/26401925/66457201-7ae03580-ea78-11e9-8e67-0d2bb74980f2.png)

[2019-10-09 18:00] ianmcqueen commented on #82
@soliduskodas This appears to only be an issue with Nova v2.4.0 but downgrading to v2.3.1 fixes the issue.

[2019-10-09 18:49] Krato commented on #82
Wow. I will check with Nova v2.4.0.

[2019-10-09 18:50] Krato commented on #81
Thanks. Good to know

[2019-10-09 18:50] #79 closed

[2019-10-17 18:34] XternalSoft commented on #82
hello, same problem with Nova 2.5.0

[2019-10-18 12:28] stwinnie commented on #82
in Nova 2.5.0 everything is broken

source FileManager Field Modal already exists
source File Details already exists
source Create Folder already exists

[2019-10-21 07:49] Fabio1988 opened #84 "Delete and rename buttons in grid and list views"
hy :)

Is it possible to hide the buttons or to disable the functionality to delete and rename?
I can not allow to rename folder or file, because it's possible that it is used in a model as attribute.

eg. Post has attribute visual "images/test.jpg"... if I would rename folder "images" the attribute contains wrong content.

[2019-10-21 09:31] Fabio1988 commented on #82
same issue. but also FileManagerField Modal in Nova for uploading in form-view doesn't work

[2019-10-21 15:44] FutureFutureTo opened #85 "Modals not working"
Laravel: 5.8
Nova: 2.3.1
Nova-Filemanager: 2.3

This is a strange bug - everything works fine locally, but on my production server, clicking anything that results in a pop-up modal does not work.

- CREATE FOLDER, DELETE IMAGE, EDIT IMAGE

- no console errors or anything. If anyone else is having this problem, some assistance would be greatly appreciated

[2019-10-22 06:17] Krato commented on #85
Yes, after Nova update no modals. We're trying to fix it.

[2019-10-22 06:18] #85 closed

[2019-10-22 06:19] Krato commented on #82
We're trying to fix it. We used Nova Modals to load modals. Maybe we need to try things or change to another modal. Stay tuned.

[2019-10-28 08:21] addgod opened #86 "Modals not showing."
None of the modals are showing, with version 2.5.0 of nova, and 2.3.2 of file manager.

When transitions are wrapped in a panel, none of the modals are showing. It seems the transitions are build into the panel, if you look at the nova source code.

[2019-10-28 08:22] addgod opened #87 "Inafinte loop when opening the file manager field popup twice."
The second time the modal for the file manager field is opened. It goes into a infinit loop and crashes the page.

[2019-10-28 13:37] #87 closed

[2019-10-28 13:39] addgod opened #88 "Delete modal and Rename modal does not work inside filemanager field."
Inside the filemanager field, the delete modal and the rename modal, does not work.

I suspect is has todo with two modal being opened at the same time. It might also has something to do with a portal being open inside another portal. I cannot quite tell yet.

[2019-10-29 07:45] Fabio1988 commented on #86
https://github.com/InfinetyEs/Nova-Filemanager/issues/85

[2019-10-29 07:49] Fabio1988 commented on #82
https://github.com/InfinetyEs/Nova-Filemanager/issues/89 modals within filemanager are working now I think. But in detail view of a model "open filemanager" doesn't work.

[2019-10-31 11:28] u12206050 commented on #82
I just reinstalled everything, but still have this issue. nova: 2.6.0

[2019-11-04 13:29] Krato commented on #80
@Lothindir check new version. Is fixed on [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5)

[2019-11-04 13:29] #80 closed

[2019-11-04 13:31] Krato commented on #84
Hello @Fabio1988. The new release [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5) adds this new feature.

Now you can hide buttons as your own needs on the tool or even in the field. Check the new documentation.

[Options for the tool](https://infinetyes.github.io/Nova-Filemanager/2.5/using-the-tool.html#hidding-buttons).

[Methods for the field](https://infinetyes.github.i

[2019-11-04 13:31] #84 closed

[2019-11-04 13:34] Krato commented on #88
Fixed on [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5). Please check the last release and the new [documentation](https://infinetyes.github.io/Nova-Filemanager/2.5/installation.html).

[2019-11-04 13:34] #88 closed

[2019-11-04 13:34] Krato commented on #86
Fixed on [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5). Please check the last release and the new [documentation](https://infinetyes.github.io/Nova-Filemanager/2.5/installation.html).

[2019-11-04 13:34] #86 closed

[2019-11-04 13:35] Krato commented on #82
Hi guys! Please check the new release [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5). Should be fixed.

Check also the new [documentation](https://infinetyes.github.io/Nova-Filemanager/2.5/installation.html).

[2019-11-04 13:36] Krato commented on #81
@FutureFutureTo this was fixed [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5).

Thanks for your tip!

[2019-11-04 13:36] #81 closed

[2019-11-04 13:38] Krato commented on #72
Hello @phuclh.

In the last release [v2.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.5) we add new methods to validate the uploads in the field. Please update to the new version and check the new [docs](https://infinetyes.github.io/Nova-Filemanager/2.5/using-the-field.html#validateupload) please.

[2019-11-04 13:40] Krato commented on #61
Close due no updates

[2019-11-04 13:40] #61 closed

[2019-11-13 07:23] #82 closed

[2019-11-13 07:23] #72 closed

[2019-11-13 13:50] Sinnbeck opened #101 "Searching fails. Missing isRounded method"
Just installed your package using Nova 2.7
Searching causes this error

I expect it is caused by changes in /src/Fields/Image.php and ResolvesField::resolveIfAvatarShouldBeRounded

[2019-11-17 12:56] Krato commented on #101
Thanks for the issue. We'll fix soon.

[2019-11-18 13:18] Krato commented on #101
Hello @Sinnbeck and @webteamseo. Should be fixed in [v2.6](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.6). Check it

[2019-11-18 13:38] Sinnbeck commented on #101
@Krato Yes that seems to have solved it indeed :)

[2019-11-18 13:38] #101 closed

[2019-11-18 14:21] webteamseo commented on #101
Thank you very much for the fix :)

[2019-11-22 00:13] keganlester opened #104 "Can upload any file but not create folders"
Hello,

Love the package so far but I think I might have found a bug.

When trying to edit or create a folder I get this error.

`iconv(): Wrong charset, conversion from `UTF-8' to `ASCII//TRANSLIT//IGNORE' is not allowed`

Other than the folders this package works great!

last 5 stacks

`0: {function: "handleError", class: "Illuminate\Foundation\Bootstrap\HandleExceptions", type: "->"}
class: "Il

[2019-11-22 19:59] keganlester opened #105 "Config maxFileSize or permissions"
Uploading a photo of 496kb and it says the file is too large. Where is there config to up this?

[2019-11-22 20:14] keganlester commented on #105
It is uploading but you aren't displaying it because you have a fixed file-size of 350kb. This should be editable by the user.

[2019-11-22 20:14] #105 closed

[2019-11-23 11:39] Krato commented on #105
@keganlester You can increase your php max file size by your self. Check https://stackoverflow.com/a/2184541

An you can use Laravel rules to limit the size.

[2019-11-23 11:44] Krato commented on #104
Hi @keganlester. Have you check if iconv php extension is activated? Regards

[2019-11-25 16:11] inodesrl opened #106 "Download"
For me  it would be necessary a link for the direct download of the files (in modal view or in grid/list view)
Thanks, Marco.

[2019-11-26 13:59] victorlap opened #107 "Little bug when uploading a folder inside of another folder"
If you are in a folder, and then drag + drop a folder into the window, the path at which the files are uploaded is not correct.

I believe the fix is in the following line:
https://github.com/InfinetyEs/Nova-Filemanager/blob/master/resources/js/components/UploadProgress.vue#L134
If you add a `/` between `this.current` and `filePath`, the naming should work correctly

See also the attached screensh

[2019-12-01 11:29] #104 closed

[2019-12-01 11:31] Krato commented on #106
Feel free to open a PR

[2019-12-10 17:15] pslxx opened #109 "delete confirm modal doesn't work on nova 2.8"

[2019-12-10 17:27] pslxx commented on #109
[code]

be work

[2019-12-10 18:14] Krato commented on #109
@pslxx Thanks! Can you make a PR?

[2019-12-11 13:56] FrittenKeeZ opened #110 "Remove file is still present on modal although delete file button is disabled"
You currently can't prevent users from deleting files, as "Remove File" is present on the file modal, and allows for file deletion, although delete file button is disabled.

[code]

We want to use filemanager as readonly, so is it possible to have "Remove File" disabled as well?

[2019-12-17 15:13] Krato commented on #110
Yes @FrittenKeeZ. Fixed in [v2.6.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.6.5)

[2019-12-17 15:13] #110 closed

[2019-12-17 15:14] Krato commented on #107
Fixed on [v2.6.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.6.5)

[2019-12-17 15:14] #107 closed

[2019-12-17 15:14] Krato commented on #109
Fixed on [v2.6.5](https://github.com/InfinetyEs/Nova-Filemanager/releases/tag/2.6.5)

[2019-12-17 15:14] #109 closed

[2020-01-08 14:17] royduin opened #111 "Markdown editor integration"
It would be nice to have an integration with the Nova Markdown editor field. Currently the image button of the Markdown field pastes `![](http://)` into the content, having that replaced with the filemanager popup like the FilemanagerField does would be nice. After selecting an image it will be inserted like `![image](http://url-to-the-image.jpg)`

[2020-01-10 07:39] Krato commented on #111
Hello @royduin. This would be cool. But should be related to the markdown field. No options to do this for now.

Regards

[2020-01-10 07:39] #111 closed

[2020-01-28 09:38] Dontorpedo opened #114 "Size of packages"
Hi,

The size of both packages with are loaded, ist quite big.. filemanager and the field are 2mb in total..

is it possible to make it smaller?

thanks

[2020-02-11 11:44] stevelacey opened #116 "Filters break when used with Nova Flexible Content"
I don't know if the problem is in https://github.com/whitecube/nova-flexible-content or in this package but the filters stop working when the file manager is used within a flexible content area – primarily this means users can select non-images in fields that I meant to only be images.

As far as I can see everything else is fine. Any idea what's up? I'll submit a PR if I can work it out.

[2020-02-11 12:54] toonevdb opened #117 "Ability to set disk at runtime"
What I am trying to achieve, is to set a different disk depending on the user role like so:
[code]
I tried placing that codeblock first in a Middleware and then in `NovaServiceProdiver@tools` method at the top. But the tool only picks up what I have set in `config/filemanager.php`.

Is it possible to have it pick up config changes at runtime? I'm a bit unsure of Nova Tools lifecycle. I don't under

[2020-02-12 08:57] Krato commented on #116
Hey, I haven't tried our Filemanager with that package. Any error logs?

[2020-02-12 13:02] stevelacey commented on #116
Nothing by default in the js console, `$this->filterBy('images')` just has no effect, I can only assume the prop is not getting set or something.

I tried to compile Nova with `yarn && npm run dev` so I could get Vue dev tools on, but that didn't seem to work – I did get some console warnings though which might be related:

[code]

Perhaps some unique keys are needed or something

[2020-02-12 14:06] Krato commented on #116
Try this to get VueTools: https://gist.github.com/Krato/b3f5891b917dadeb696b4aa36dda06d4

[2020-02-13 06:32] stevelacey commented on #116
The problem is here: https://github.com/OpenUpMusic/OOO/blob/master/vendor/infinety-es/nova-filemanager/src/Http/Controllers/FilemanagerToolController.php#L123-L139

I don't think you can rely on `$field->attribute` matching for this if you want to support any libraries doing anything like flexible content.

The attribute is prefixed (derived from FlexibleAttribute) in the case of Nova Flexible Co

[2020-02-13 06:50] stevelacey commented on #116
I think I've fixed it, PR soon 🙌 I've abandoned that loop and switched to passing `&filter=` instead, seems to work consistently everywhere

[2020-02-13 11:07] Stiropor opened #120 "Read error on bad image"
If there is a problem with image (we had a problem with some images on server being zero files big) and filemanager returning error. When inspecting log there was `getimagesize(): Read error!`. Is there any way to skip/ignore such messages?

[2020-02-24 10:09] #116 closed

[2020-03-08 19:17] ChristianKuri opened #125 "Allow to use Nova v3"
infinety-es/nova-filemanager 2.6 requires laravel/nova ~2.0 -> satisfiable by laravel/nova[2.0.x-dev].

Nova is now in V3

[2020-03-10 10:28] anugupta commented on #125
As a temporary workaround, you can install it from a local repo (similar to how Nova can be installed) and change the Nova version requirement

Steps:

- clone the repo into a folder in your Laravel  structure (`./Nova-Filemanager`)
- edit `./Nova-Filemanager/composer.json` and change the Nova version requirement from 2 to 3:
` "laravel/nova": "~3.0"`

- add the local repo in the main `composer.js

[2020-03-11 13:41] Krato commented on #125
Is now available in v2.7. Please, check it!

[2020-03-11 13:41] #125 closed

[2020-03-13 11:52] Mopsit opened #127 "Relation modal with FilemanagerField"
I have a resource with a relation to another resource containing a FilemanagerField. When I click +Create to create a new resource of the relation, a Modal pops up, which works fine, but when I click "Open Filemanager" on the relation modal, it closes and reopens the modal instead of showing filemanager.

Is it impossible to make something to have this work?

[Create button](https://i.gyazo.com/1d

[2020-03-23 12:53] JulianMar commented on #106
I opened a PR for this feature. Checkout #128

[2020-03-27 09:07] michapixel opened #129 "Any hints/ideas on how to use this with a WYSIWYG editor"

[2020-03-28 22:08] underwear commented on #120
same problem

[2020-03-28 22:15] underwear commented on #120
I use s3 storage as public disk and got this problem. I think that is because of method `\Infinety\Filemanager\Http\Services\GetFiles::getImageDimesions` has condition on public storage. I copied public disk config in `filesystems` and called it 's3'. Also i added FILEMANAGER_DISK=s3 and it worked for me.

[2020-04-01 16:21] Azomas opened #130 "Sort by "last modification" file property"
I see that files can be sorted by name, mime and size.
It would be very convenient to add one more property to this list - file date

[2020-04-01 16:40] Azomas commented on #130
I wish to help add this feature, though I probably will need some guidance.

[2020-04-01 16:47] Azomas opened #131 "Make files easier to move in large lists"
Right now it is kinda difficult to move files to folder when there are many of them and they are scattered all over the place.

I think this can be done more conviniently. For example, add a button "move" which shows up when files are selected with checkboxes (just like with delete button).

when you select files and press that button, selected files are greyed (or somehow marked that they are to

[2020-04-22 15:49] mokchend commented on #117
Yes, would be nice to lockdown the registered user in dynamic folder based on user's (unique) name or Id, so only registered user can see the files & folders owned.

[2020-05-26 05:46] ristodziuba opened #134 "wrong namespace"
In class FileManagerService

use Infinety\Filemanager\Http\Exceptions\InvalidConfig;
instead
use Infinety\Filemanager\Exceptions\Http\InvalidConfig;

[2020-06-02 02:51] DerekBuntin commented on #129
I've added this to the following [Tinymce package](https://novapackages.com/packages/emilianotisato/nova-tinymce) with the following config:

[code]

It pops up with the full admin interface and allows you to select the URL, which is all we need.

What would be ideal is a more integrated interface for item selection so when the image or object is clicked it adds the URL to the respective input and

[2020-06-08 12:37] Krato commented on #130
@Azomas You can set the order to `last_modification` and files will be ordered by last modification.

Regards

[2020-06-08 12:37] #130 closed

[2020-06-08 12:51] Krato commented on #134
Resolved on v2.8 Thanks!

[2020-06-08 12:51] #134 closed

[2020-06-08 12:52] Krato commented on #120
Please try v2.8 Should be ok.

[2020-06-08 12:52] #120 closed

[2020-06-08 12:52] Krato commented on #106
Yes. Merged on v2.8

[2020-06-08 12:52] #106 closed

[2020-06-08 12:53] Krato commented on #127
We have an still issue referenced #73

[2020-06-08 12:53] #127 closed

[2020-06-08 12:55] Krato commented on #131
Hi @Azomas Where are opened to PR. Thanks

[2020-06-08 12:55] inodesrl commented on #106
thanks

[2020-06-08 23:31] ahinkle opened #136 "Not working as of 2.8"
Hi there,

Thanks for adding this wonderful package.

In the recent Nova-Filemanager 2.8 release, there appears to be a bug that isn't tieing the SQL values to the submission. The field is submitting with value (in the headers) but not making it to the SQL query.

Nova: v3.6
Nova-Filemanager: v2.8

[code]

This was working on v2.7 - I do have `logo` as a Fillable on my model - I reverted back to 2

[2020-06-09 06:28] Krato commented on #136
Can you try with v2.8.1. Thanks. I remove readonly by default.

[2020-06-09 23:12] ahinkle commented on #136
Fixed - thanks!

[2020-06-09 23:12] #136 closed

[2020-06-10 14:08] tumispro opened #137 "Uppercase search gives no results"
As the title states, an uppercase search term won't give any results, even for uppercase titles.

[2020-06-16 11:04] JBAHapp opened #138 "Large image sizes"
Is there a way to reduce the filesizes for the image preview? Some of my resources have really lage images (above 5000px height and width). Any chance srcset will be implemented?

[2020-06-29 15:52] vwasteels opened #139 "Error reading the folder. Please check your logs."
I know there is already 2 issues with same title, but I have no more information, I checked in `./storage/logs/laravel.log` and in my ngynx logs , nothing shows , nothing in the console neither ,

I'm using latest Nova `3.6.0`
with latest Nova-Filemanger `2.8.1`

Any though on how to debug this ?
thank you

[2020-07-07 19:05] 7ammer commented on #129
I would like to know this too.

[2020-07-07 19:11] 7ammer commented on #129
I would like to know this too. The above suggestion doesn't work as you can't select the file for use in the editor. Also, it looks kinda naff.

[2020-07-14 12:17] JBAHapp commented on #138
Still no update on this?

[2020-07-16 09:15] breizhwave opened #140 "Allow multiple file field"
Hi, which would you recommend to implement multiple file field with description / tags

https://novapackages.com/packages/whitecube/nova-flexible-content
or
https://novapackages.com/packages/fourstacks/nova-repeatable-fields

have you tested any of the two ?

second bonus question : possibility of using tags package with files in the file explorer  ? thks

[2020-09-03 14:29] breizhwave commented on #140
Hi FYI just tested https://novapackages.com/packages/whitecube/nova-flexible-content

works like a charm

[2020-09-15 01:27] lhilton opened #142 "Laravel Vapor / Nova / S3 upload size restrictions"
I am using Vapor to host several applications, and I recently found that this imposes a 5mb (I could be wrong, but small) limit to file uploads.

Does Nova Filemanager support streaming to s3 instead of the store-and-forward setup? Are there any initiatives underway to support this configuration?

[2020-10-15 16:05] Krato commented on #140
**First question**:

Yes should work with both.

**Second question**:

This isn’t in our futures changes.

Regards!

[2020-10-15 16:05] #140 closed

[2020-10-15 16:05] Krato commented on #139
No way to test this without any log or screenshot.

[2020-10-15 16:05] #139 closed

[2020-10-15 16:07] Krato commented on #138
@JBAHapp Maybe you can make a PR for this. Is not in our roadmap.

[2020-10-15 16:07] #138 closed

[2020-10-15 16:09] Krato commented on #129
We will think about this. 👍🏽

[2020-10-15 16:10] Krato commented on #114
Of course. Make a PR 😅. No time to optimize this for now.

[2020-10-15 16:10] #114 closed

[2020-10-21 10:20] tumispro opened #148 "Incompatible with Composer v2"
The latest version of Composer gives a warning that this package soon won't work anymore. The namespace is missing the 'Http' folder in the path.

[2020-10-21 10:25] #148 closed, assigned to nobody

[2020-10-21 10:25] tumispro commented on #148
My bad, I see this is fixed already! Thanks!

[2020-10-21 16:03] xpersonas opened #149 "Help Text"
Sorry if I'm missing this, but I don't see how you would set help text on a FilemanagerField...

[code]

[2020-10-29 02:32] fedeisas opened #150 "Non-public images breaks preview"
If my bucket has non-public images, I'd like to generate signed URLs for previews, to avoid 403s on the frontend. Any suggestions on where to extend the library to get that behaviour? Thanks.

[code]

[2020-11-21 22:55] rabichawila opened #153 "Filemanager is caching files"
I just adopted a project that was developed by someone else.
The project utilize `InfinetyEs/Nova-Filemanager`

Everything is working fine, however i've realized that `filemanager` is caching files,

1. when i upload files it takes up to 1-2 hours for those files to get listed on the filemanager.
2. When i update the DB with file that is already available in `filemanager` , it takes time for `->di

[2020-11-25 06:49] Elfanar commented on #153
same issue here

[2020-11-27 18:45] 7ammer commented on #129
Thank you :)

[2021-01-19 13:24] aftechro opened #154 "Hide certains folder in the main view"
Hello,

Great tool btw.

How can i make to show only few folders and to hide whatever i dont want to be seen by others? Or at lease to restrict access

Thank you!

[2021-01-25 06:27] gadimlie commented on #150
Same issue here) @fedeisas did you solve it?

[2021-02-02 00:25] marceloandrader opened #155 "File field question"
I've reviewed the documentation and looks like this will be a new feature.

Is it possible to have a Folder field, so when you open the file manager from a record, it will allow you to select only folders, not files.

[2021-02-11 15:51] marceloandrader commented on #150
hi, all, I was investigating the flysystem api, and to be able to have the files non-public in s3, we need to create presigned requests. This can be done using

[code]

With this we can display the image in the preview.

[2021-02-11 15:51] marceloandrader commented on #150
I think this should be done using a configuration to request this kind of temporary urls

[2021-02-11 16:17] marceloandrader commented on #150
This is the patch I'm using for now:
[code]

[2021-02-12 21:10] saimemre opened #156 "User based delete"
Hello, is there any way to disable user role based deletion?

[2021-02-27 19:05] Krato commented on #155
This is not a featured we are thinking to include. Thanks.

[2021-02-27 19:05] #155 closed, assigned to nobody

[2021-02-27 19:18] Krato commented on #156
You can change config values on live depending your user role.

Check how to set values at runtime: https://laravel.com/docs/8.x/configuration#accessing-configuration-values

[2021-02-27 19:19] Krato commented on #142
You can chose any disk to be used by the package. Check the docs.

[2021-02-27 19:27] Krato commented on #154
Just create a `.hide` empty file inside the folder and the package will hide that folder.

Need to doc that feature.

[2021-03-02 23:19] lhilton commented on #142
Perhaps I wasn't clear enough about my question. This bit of code:

https://github.com/InfinetyEs/Nova-Filemanager/blob/c6595c29e23cab01be6b7e37a069b13844397c91/src/Http/Services/FileManagerService.php#L179

Will not work when you are using Laravel Vapor for hosting and uploading files that are larger than 5mb (maybe 6?). From the Laravel Vapor docs:

https://docs.vapor.build/1.0/resources/storage

[2021-03-15 16:36] yammycode opened #157 "Links are not supported"
Hello!
I have an error in production.
Error reading the folder. Please check your logs.

In log:
Links are not supported, encountered link at /var/www/my_site/data/www/my_site/public/storage {"userId":1,"exception":"[object] (League\\Flysystem\\NotSupportedException(code: 0): Links are not supported, encountered link at /var/www/my_site/data/www/my_site/public/storage at /var/www/my_site/data/www/

[2021-03-17 13:50] Jimmylet commented on #129
Hello ! Any news for this feature? Thanks!

[2021-03-19 13:56] ValCanBuild opened #158 "log() expects parameter 1 to be float, null given in FileFunctions.formatBytes"
I am trying to get this working locally but I get the same error in all disks (S3 or Local):
[code]

It seems to be searching for the `size` property for a folder, which is set to null.

Have I misconfigured this? I am running the default config.

[2021-03-31 16:45] temp1029 commented on #129
Was looking into this myself and it looks like sending a postMessage to the parent frame from inside the modal's iFrame is what needs to be done. Also, the suggestion by @DerekBuntin above sends the parameter 'editor' over in the url with a value of tinymce5, so maybe that could be used to identify that we want to allow file selection (like in the form field modal) via the popup prop and then use

[2021-04-11 04:27] semsphy opened #159 "Javascript error"
## Version
- `Laravel 8`
- `Nova: ^3.22`
- `PHP: 8`

## Error
- [ ] TypeError: Cannot read property 'upload_button' of undefined
- [ ] vendor.js?id=f0fd4e570967fbf04e26:1 Error: <animate> attribute keySplines: Invalid value, "0.175, 0.885, 0.320, 1.5; 0.175, 0.885, 0.320, 1.5".
- [ ] vendor.js?id=f0fd4e570967fbf04e26:1 Error: <animate> attribute keySplines: Invalid value, "0.175, 0.885, 0.320, 1.5

[2021-04-11 10:49] semsphy commented on #159
Sorry it was my bad. I cached my route.

[2021-04-11 10:49] #159 closed, assigned to nobody

[2021-04-22 11:45] erenergul opened #160 "I can't see uploaded images and links looks broken."
Hi , I fresh installed and work on localhost and then I moved my files another computer. I try to remove and install again few times but images looks like broken.

I have a console error : Error: <animate> attribute keySplines: Invalid value, "0.175, 0.885, 0.320, 1.5;\n                           0.175, 0.885, 0.320, 1.5".

Succesfully added storage folders but cant see anyphotos.

[2021-05-13 16:57] aliwesome commented on #38
@Krato I think that problem is fixed now. can we have that PR merged?

[2021-05-29 19:30] takifouhal commented on #160
local storage folder is not exposed by default , use `php artisan storage:link` to create a symbolic link at public/storage

[2021-05-30 00:38] takifouhal commented on #117
did you figure out how to do it?

[2021-05-30 00:42] takifouhal commented on #79
but is there any way to restrict programmatically ? based on user id for instance

[2021-06-05 16:23] miagg opened #162 "Feature request: Option to hide filename from Detail view"
First of all this is a great package!

I do wish there was an option to hide the filename from the detail view if `displayAsImage()` is set.

Right now the only way to solve this is by hiding the field on detail and adding a compute field like this:

[code]

[2021-06-19 07:31] wi-wissen opened #163 "German Localization"
Hi,

here is the German Localization:

[code]

It is written in formal German ("Sie").

[2021-08-12 16:34] progcode commented on #74
same here. your module doesn't write log files @Krato , so we don't know what's wrong. It would be good not to close the ticket but to deal with it

[2021-08-12 19:39] Krato commented on #74
Sorry but I'm not focused on that package. And pagination is not on the roadmap.

If you want to include, as I told, you can make a PR.

Regards

[2021-09-07 07:42] ThaDaVos opened #164 "Not showing preview of `text/plain` file, a YAML file"
For some reason the package does not show a preview of a .yaml file - I checked the URL and it's available, download also works, it just does not show a preview...

![image](https://user-images.githubusercontent.com/5251028/132304771-dcb3bc43-92ac-45d4-92f4-d34dae4aa547.png)

[2021-09-30 09:39] benjaminhull opened #165 "Restricting users from navigating to higher folders"
Hi there. Thanks for a great Nova package!

I have found that if I set the initial folder to a folder which is one or two levels deep, the user is then unable to navigate back up to higher folders. This is very often helpful! E.g.

[code]

However, if I go three deep on folder structure, the rule no longer applies and the user can navigate back up the second level.

[code]

Is this by design? And

[2021-09-30 17:47] ianmcqueen opened #166 "Double Images Appearing In Preview Modal"
**Nova Version:**  Nova v3.29.0
**Filemanager Version:** 2.8.3

When clicking on an image in the filemanager to see a preview, both the image itself and the Expand modal `div class=viewer` appear, giving the appearance of a double image. When you click the Expand icon, the two images are separated. Most obvious for transparent images without a solid background color.

## Steps To Reproduce

* Navi

[2021-10-04 12:22] 7ammer commented on #129
I'm interested in building this but I'm having issues with installing it locally.

I moved the package to `nova-components` and amended the `composer.json` file but when I run `npm run dev` I get some errors...

v-viewer in Image.vue seems to not exist and plyr.min.js in DetailPopup.vue seems to be complaining about an Unexpected token?

[2021-10-04 12:31] 7ammer commented on #129
For my current needs I was thinking to check the url for a string query `?editor=tinymce5`.
If found, I would amend the "select file" button to run the following commands:

[code]

I was also going to amend the layout to remove the left column.

[2021-10-04 12:40] temp1029 commented on #129
Not that you asked me @7ammer, but query string would probably work just as well as what I suggested. I was trying to keep it as close to the Tinymce package spec as possible, but that's not going to be needed in all cases. Thanks for taking a crack at this, I'm interested to see what you come up with if you're willing to share.

[2021-10-04 13:34] 7ammer commented on #129
@temp1029 I'm happy to create a pull request but unfortunately I can't get going because I can't compile the project (npm run watch). I'm compiling with node `v14.17.0`.

[2021-10-06 10:47] benjaminhull opened #167 "Deleting a file returns user to root directory"
Whilst in the Filemanager window: When you delete a file from within a subfolder, you are then taken back to the root folder.

It would be preferable to return the user to the folder they were already in to avoid confusing them.

[2021-10-21 17:47] aliwesome commented on #130
@Krato where exactly should I set the order?

[2021-10-21 17:52] aliwesome commented on #130
I had found that, in config file set `FILEMANAGER_ORDER` to  `last_modification` as Krato said.

[2021-11-03 11:16] simonasposka opened #168 "Error when trying to rename a directory inside S3"
This is the current file tree:
[code]
![1](https://user-images.githubusercontent.com/47173071/140048806-6aaa8648-e0cc-41bd-9fbb-79b09a567151.png)

The goal is to rename the directory from `a/` to `b/`:

![2](https://user-images.githubusercontent.com/47173071/140048886-234cc353-9e66-47d7-875f-fbe6ae2fa5c9.png)

When I submit the request, I get an error: `The name is required`:
![3](https://user-ima

[2021-11-03 16:09] simonasposka commented on #168
Managed to fix it:
https://github.com/simonasposka/Nova-Filemanager/tree/fix/s3-folder-rename

[2021-11-03 16:09] #168 closed, assigned to nobody

[2021-12-23 03:52] ferminarellano commented on #137
having this issue as well with:
- Laravel 7.30.4
- Nova 3.20.0
- FileManager version 2.8.3

[2022-01-26 07:37] pmreyes opened #170 "JS Console Error: keySplines: Invalid value"
![image](https://user-images.githubusercontent.com/81602852/151121795-8634dec5-97e0-425a-abe7-018b171eac40.png)

Hi! I just tried this plugin out and it's really working well with AWS S3. I was just wondering what do these error messages mean?
I tried to clear all my caches as well as refreshed my routes. It doesn't seem to impact functionality though since all work fine but I'm just curious why t

[2022-01-31 13:14] touson commented on #149
I have the same issue.

I can see the FilemanagerField object extends the Field object, which in turn uses the ```Laravel\Nova\Metrics\HasHelpText``` Trait, so logically I should be able to simply use: -

```FilemanagerField::make('Image')->help('help text here');```

I've tried this but the text doesn't output under the file upload box in the Nova backend?

Does the FilemanagerField object overri

[2022-02-21 09:51] uzdeveloper1 opened #172 "Call to undefined method League\Flysystem\Filesystem::getAdapter() in laravel 9"

[2022-02-21 16:09] mindworkzgit opened #173 "image URL not saving in database"
Hi there.

Quick and simple. When I add an image to a resource and click on save the image URL does not get stored in the database.
Am I doing anything wrong or? Because when I add the URL manually my application does see it.
If anyone could help that would be really nice. And if more info is needed I am willing to give any that is needed.

[2022-02-24 15:37] ahinkle commented on #172
Same here.

[2022-04-07 06:31] stepanenko3 opened #176 "Nova 4 support"

[2022-04-08 11:15] mucenica-bogdan commented on #172
I have a fix for it in this pull request: https://github.com/InfinetyEs/Nova-Filemanager/pull/177

[2022-04-15 12:30] abdulelah-alasri opened #178 "Nova 4"
Doesn't work with Nova 4

[2022-05-15 15:16] julianlaibach opened #180 "Image Preview not updating on uploading a new one"
Hey there, thank you for this awesome Filemanager!
I really love using it in my Projects, one thing i found out is currently not working: The Image Preview is not working on uploading a new Image, it still shows the current Uploaded one. Is there any possibillity to fix this behaviour? I would find it useful to see the newly uploaded Image.
Thanks!

[2022-05-19 10:06] stevelacey commented on #172
This fork has everything working afaics https://github.com/grayloon/nova-filemanager

[2022-05-19 12:33] julianlaibach commented on #142
Hey all, is there any update on this? Would be great, it's bit of a bottleneck

[2022-05-19 12:35] julianlaibach opened #181 "Improvement / Move multiple Files at once"
I was wondering if its possible to add the Feature to move multiple Files at once, even if i check them there is no action to move more than one File.

[2022-05-19 13:01] stepanenko3 commented on #178
I create a version for Nova 4
It's still in work
https://github.com/stepanenko3/nova-filemanager

[2022-05-19 13:01] stepanenko3 commented on #176
I create a version for Nova 4
It's still in work
https://github.com/stepanenko3/nova-filemanager

[2022-05-19 13:01] #176 closed, assigned to nobody

[2022-05-19 13:01] stepanenko3 commented on #172
I create a version for Nova 4
It's still in work
https://github.com/stepanenko3/nova-filemanager

[2022-05-23 07:47] bilogic opened #182 "HTTP 419 on download and upload"
`"infinety-es/nova-filemanager": "^2.8",`

Clicking to download/upload does not work as CSRF tokens are not being submitted.

Am I the only one facing this?

[2022-05-23 08:09] bilogic commented on #180
Hi, unrelated but I'm curious which Nova version you are using? Every action on my side throws a HTTP 419 for me on Nova version: 3.32.0

[2022-05-23 10:16] bilogic opened #183 "Error when building"
[code]

I keep getting these 2 errors when building.

1. Adding `v-viewer` into my `package.json` did not help.
2. Don't know where to begin with the 2nd one...

[2022-05-23 11:44] bilogic commented on #142
Not sure how streaming file uploads work, but I know this will help with large files, i.e. > GB
https://github.com/pionl/laravel-chunk-upload

I just spent half a day fixing the csrf issues. Anyone wants to tackle large files together?

[2022-05-23 11:47] bilogic commented on #183
1. Rewrote as `import { component } from 'v-viewer';`
2. Forced plyr to use the latest version

See #184

[2022-05-23 11:47] #183 closed, assigned to nobody

[2022-05-23 12:23] #182 closed, assigned to nobody

[2022-06-16 04:10] NoctuG opened #185 "Functional Recommendations"
Hi:

I would like to add some cloud object storage provided by a cloud provider, such as Amazon S3 or something like that. In addition to that, I believe it would be easier to use with Docker installation. These are some of my ideas, and it would be my pleasure if they are adopted.(●'◡'●)

[2022-06-23 05:25] #185 closed, assigned to nobody

[2022-09-14 18:52] marcemarin commented on #142
Hello, how did you get the filemanager to work in vapor?

[2022-09-14 20:46] julianlaibach commented on #142
We built a custom Tool - i think its not completely ready for production yet... let me know if you want to check out the code

[2022-09-14 21:20] bilogic commented on #142
@julianlaibach sure!

[2022-09-19 15:07] marcemarin commented on #142
It would be great!